
<link rel="stylesheet" type="text/css" href="/Application/Assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/Application/Assets/css/style.css">
<link rel="icon" href="../../Assets/images/favicon.ico">

<script src="/js/bootstrap.min.js"></script>

<title>Danil's Store</title>
<div class="header">
<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
    </a>

    <ul class="nav nav-ext col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="main_view.php" class="nav-link px-2 link-dark text">Home</a></li>
        <li><a href="apps_view.php?page=1" class="nav-link px-2 link-secondary text text-center">App Store</a></li>
        <li><a href="developer_tools_view.php" class="nav-link px-2 link-dark text">Developer Tools</a></li>
    </ul>

    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <input type="search" class="form-control search" placeholder="Search..." aria-label="Search">
    </form>

    <div class="dropdown text-end">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="/img/danil.jpg" class="profile-icon" alt="mdo" width="32" height="32" classil="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="">
            <li><a class="dropdown-item" href="account_view.php">Account</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="sign_in_view.php">Sign in</a></li>
            <li><a class="dropdown-item" href="sign_out.php">Sign out</a></li>
        </ul>
    </div>
</div>
</div>


